@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (Só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(206, 255, 206);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(51, 77, 49);
}

.basico {
    color: green;
}

.intermediario {
    color: rgb(202, 202, 31);
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgba(161, 161, 70, 0.568);
}

